:root {
  --font-family-main: "Roboto", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: 400 16px/24px var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: 400 24px/32px var(--font-family-main);
}
